@model CDM.Models.OrderSummary

@{
    ViewBag.Title = "Receipt";
}
<article>
    <section class="header">
    <h2>Receipt</h2>
    </section>
    <section class="productandOrdernum">
        <h2>Order Number: @Model.QueueNum</h2>
        <ul>
            @foreach (var item in Model.OrderItems)
            {
                <li>@item.Drink x @item.Quantity - ₱@item.TotalCost</li>
            }
        </ul>
        <p>Total cost - ₱@Model.TotalCost</p>
    </section>
    <section class="button">
        <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("Index","Home")'" id="button">Order Again</button>
    </section>
</article>
<script>
    setTimeout(function () {
        document.getElementById("button").click();
    }, 10000);
</script>